html{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-Image: url("https://images.fineartamerica.com/images/artworkimages/medium/2/retro-vintage-80s-or-90s-geometric-gorbash-varvara.jpg");
  background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
}