.trending {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
$primary: rgb(7, 1, 73);
$secondary: rgb(104, 0, 142);
$tertiary: rgb(163, 56, 198);
$quadratic:rgb(237, 77, 255);
$ending: rgba(white);
.trending-container, h1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include gradient-text;
}

@mixin gradient-text($angle: 45deg, $primary, $secondary, $tertiary, $quad, $end, $amount: 35%) {
  color: $primary, $secondary, $tertiary, $quad, $end;
  background: -webkit-linear-gradient($angle, $primary, $secondary, $tertiary, $quad, $end, adjust-hue($primary, $secondary, $tertiary, $quad, $end, $amount));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  display: inline-block;
}
