.trending {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  
}

.trending-container, h1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: pink;

}




